body{
    background-color: rgba(4, 118, 42, 0.953);
}
p{
    margin: 0;
}
.box-1{
    text-align: center;
        h1{
            color: yellowgreen;

        }
        .result{
            padding: 20px;
            font-size: 50px;
        }
        .player,.dealer{
            font-size: 35px;
            color: #fff;
            font-style: italic;
        }
        p{
            color: #fff;
            font-size: 30px;
            padding: 20px;
        }
        .button-box{
            padding:30px;
        }
        .start,.hit,.stand{
            background-color: rgba(204, 119, 119, 0.679);
            border: 1px solid;
            font-size: 40px;
            border-radius: 15%;
        }
        .start:hover{
            opacity: 0.6;
        }
        .hit:hover{
            opacity: 0.6;
        }
        .stand:hover{
            opacity: 0.6;
        }
        
}